* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif;
}

:root {
    --lighterAccent: #1e1e1e;
    --darkerAccent: black;
    --evendarkerAccent:#232323;
    --evenEvendarkerAccent:#2d2d2d;
    --border: #3a3a3a;
    --lightPurple: #9900ff;
    --darkPurple: #35174a;
    --violet: #7f40cd;
    --text: white;
   --unselectedText:#a4a4a4;
    --sideBarWidthPix: 80px;
    --shadowHintPurple: #754d9806;
}

.lightTheme {
    --lighterAccent: #f0ece8;
    --darkerAccent: white;
    --border: #c8c8c8;
    --lightPurple: #9900ff;
    --darkPurple: #c6a4e093;
    --violet: #7f40cd;
    --text: #636363;
    --shadowHintPurple: #754d9867;
}


a {
    color: var(--lightPurple);
}

body {
    transition: 0.5s ease;
    height: fit-content;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--darkerAccent);
    display: flex;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--border);
}

body::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
}

#sidebarSection{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: clamp(var(--sideBarWidthPix),var(--sideBarWidthPix),var(--sideBarWidthPix));
    background-color: var(--darkerAccent);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

#sidebarInner{
    background-color: var(--lighterAccent);
    padding:10px;
    height: 100%;
    width:60px;
    margin:10px;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.sidebarBtn {
    color: var(--text);
    background-color: transparent;
    font-size: 0.6rem;
    font-family: "Ubuntu", serif;
    border: none;
    width: 90%;
    height: 60px;
    padding: 5px 0px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    margin-top: 20px;
}

.ab {
    font-size: 0.6rem;
}

#primeBtn {
    color: var(--text);
}

figure {
    width: 100%;
    aspect-ratio: 186/149;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

#logo {
    margin-right: 5px;
    width: 70%;
    aspect-ratio: 186/149;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#logo:hover {
    animation: shake 0.6s ease;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.sidebarRemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}
.sidebarBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height:100%;
}

.sidebarIcon {
    font-size: 1.2rem;
    padding-bottom: 8px;
}

content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:var(--sideBarWidthPix);
    margin-right:0px;
    width: calc(100% - var(--sideBarWidthPix) - 12px);
    min-height: 100vh;
    height: fit-content;
}
#innerContent{
    margin:10px 10px 10px 0px;
    min-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10px);
    min-height: 100vh; 
    height: fit-content;
}

#searchbarCreateSection {
    display: flex;
    align-items: center;
    top: 0px;
    z-index: 3;
    position: fixed;
    display: flex;
    height: 70px;
    width: fit-content;
    background-color: #31313173;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 25px 25px;
    border: 1px solid var(--border);
    padding: 10px;
}

#searchbarSection {
    display: flex;
    width: 450px;
    min-width:100px;
    height: 40px;
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
}

#searchInput {
    display: flex;
    font-weight: 400;
    height: 100%;
    width: 90%;
    outline: none;
    font-family: "Ubuntu", serif;
    border: none;
    padding: 0px 20px;
    font-size: 1rem;
    background-color: #1b1b1bb5;
    color: white;
}





#searchbarSection button {
    height: 100%;
    width: 10%;
    background-color: #1b1b1bb5;
    border:none;
    color: var(--unselectedText);
    padding: 0px 10px;
    font-size: 1rem;
}


#searchbarSection button:hover {
   
    color: var(--text);
}



#videoUploadContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}

#videoUploadScreen {
    border-radius: 25px;
    width: 80%;
    height: 85%;
    background-color: var(--darkerAccent);
    border: 1px solid var(--border);

}

#closeBtn {
    font-size: 1rem;
    padding:5px 10px;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--text);
}

#uploadTopbar {
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: var(--text);
    border-bottom: 2px solid var(--lightPurple);
    
}

#uploadTopbar p {
    height: fit-content;
  
}

#bottomPart{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
}

#uploadDescriptionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}


#uploadRegion{
    display: flex;
    background-color: var(--evendarkerAccent);
    color: var(--lighterAccent);
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

#uploadRegion i{
 color: var(--darkerAccent);
  animation: downloadAnimation 4s linear infinite; 
}
@keyframes downloadAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-300px);
    }
}

#instructionUploadContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;

}

#instructionUploadContainer p {
    color: var(--text);
}

#selectFileBtn {
    margin-top:20px;
    background-color: var(--evendarkerAccent);
    color: var(--text);
    font-size: 1.1rem;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;

}

#videoDescriptionContainer{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#videoDescriptionContainer label{
    color: var(--text);
    margin-bottom:5px;
}

.descriptionInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom:30px;
}

.descriptionInputContainer input{
    color: var(--text);
    font-size: 1rem;
    outline: none;
    padding:5px 10px;
    background-color: var(--darkerAccent);
    border: 2px solid var(--evendarkerAccent);
}

#addVideoBtn{
    margin-top:20px;
    background-color: var(--lightPurple);
    color: var(--text);
    font-size: 1.1rem;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
}

#adboardOuter {
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 100%;
    height:100%;
    background-color: rgb(129, 129, 129);
    background-image: url("images/advertise1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#blurOverlay{
    width: 100%;
    height:100%; 
    backdrop-filter: blur(20px);
    background-color: #1e1e1e8f;
    padding:50px;
}

#adboardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighterAccent);
    border: 1px solid var(--border);
    border-radius: 10px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom:10px;
    background-image: url("images/advertise1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#filter {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 30px;
    width: 100%;
    margin: 10px 0px;
    height: 60px;
    background-color: transparent;
    background-color: var(--lighterAccent);
    border: 1px solid var(--border);
    border-radius: 10px;
}

#filter button {
    font-weight: 900;
    font-size: 0.9rem;
    margin-right: 30px;
    padding: 10px;
    background-color: var(--darkPurple);
    border-radius: 5px;
    border: 1.5px solid transparent;
    color: var(--lightPurple);
    transition: border-color 0.4s ease;
    box-shadow: 0px 0px 10px #513e5f55;
    border: 1px solid #55268e;
    transition: background-color 0.3s ease;
}

#filter button:hover {
    background-color: var(--lightPurple);
    color: var(--darkerAccent);
}

#mainVideoContainer {
    width: 100%;
    padding: 20px 30px 0px 30px;
    height: fit-content;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    background-color: transparent;
    background-color: var(--lighterAccent);
    border: 1px solid var(--border);
    border-radius: 10px;
}


.newVideo {
    background-color: white;
    height: 400px;
}