
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Ubuntu", serif;
}

:root {
    --darkerAccent: black;
    --lighterAccent:#101010;
    --border:#3a3a3a;
    --lightPurple:#c800ff;
    --darkPurple:#d000ff20;
    --pink:#cd4092;
    --text:white;
    --sideBarWidthPer:6%;
    --sideBarWidthPix:70px;
    --shadowHintPurple:#754d9806;
  }

.lightTheme{
    --darkerAccent: #f0ece8;
    --lighterAccent: white;
    --border: #c8c8c8;
    --lightPurple:#c800ff;
    --darkPurple:#d5a4e093;
    --pink:#cd4092;
    --text:#636363;
    --shadowHintPurple:#754d9867;
  }



body{
    height: fit-content;
    width:100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--lighterAccent);
    display: flex;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--border); 
  }
  
  body::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px; 
  }

#sidebar{
    padding: 20px 0px 40px 0px;
    border: none;
    min-width: var(--sideBarWidthPix);
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: var(--sideBarWidthPer);
    background-color: var(--darkerAccent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.sidebarBtn{
    color: var(--text);
    background-color: transparent;
    font-size: 0.6rem;
    font-family: "Ubuntu", serif;
    border: none;
    width: 90%;
    height: 60px;
    padding:5px 0px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    margin-top: 20px;
}
.ab{font-size: 0.6rem;}
#primeBtn{
background-color: var(--lighterAccent);
border-radius: 10px 0px 0px 10px;
}

figure{
    width: 100%;
    height:60px;
    display: flex;
    justify-content: center;
    
}

#logo{
    width: 90%;
    height: 100%;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#logo:hover{
    animation: shake 0.6s ease;
}

@keyframes shake{
    0%{
      transform:rotate(0deg);
     }
    25%{
      transform:rotate(15deg);
    }
    50%{
      transform:rotate(-15deg);
    }
    75%{
      transform:rotate(15deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }

.sidebarBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height:fit-content
}
.sidebarIcon{
    font-size: 1.2rem;
    padding-bottom: 8px;
}

content{
    min-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--sideBarWidthPer);
    width: calc(100% - var(--sideBarWidthPer));
    min-height: 100vh;
    height: fit-content;
}

#searchbarCreateSection{
    display: flex;
    align-items: center;
    z-index: 3;
    position: fixed;
    display: flex; 
    height: 80px;
    width: fit-content;
    background-color: var(--lighterAccent);
    border-radius: 0px 0px 25px 25px;
    padding:20px;
}

#searchbarSection{
    display: flex;
    width: 450px;
    height: 40px;
    background-color: var(--lighterAccent);
    border: 1.5px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
}

#searchInput{
    height: 100%;
    width: 90%;
    outline: none;
    font-family: "Ubuntu", serif;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    font-size: 1rem;
    background-color: var(--darkerAccent);
    color: white;
}
  
  



#searchbarSection button{
    height: 100%;
    width: 10%;
    background-color: var(--darkPurple);
    border: none;
    color: var(--lightPurple);
    padding: 0px 10px;
    font-size: 1rem;
}


#createBtn{
    height: 100%;
    background-image: linear-gradient(to right,var(--pink),var(--lightPurple));
    color:white;
    margin-left: 30px;
    font-family: "Ubuntu", serif;
    font-size: 0.9rem;
    border-radius: 20px;
    padding:0px 10px;
    border: none;
    box-shadow:0px 0px 20px #ffffff55;
    border: 1.5px solid #cccccc;
    transition: 2s ease;
}



#adboardSection{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:var(--lighterAccent);
    height: 500px;
}


#adboardOuter{
    border: 1.5px solid #3a3a3a;
    display: flex;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    height: 100%;
    background-color: rgb(129, 129, 129); 
    background-image: url("images/advertise1.png");  
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px var(--shadowHintPurple);
}

#adboardSection{
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 20px 0px 0px 0px;
    height: 300px;
    background-color: var(--lighterAccent);
}

#filter{
 display: flex;
 align-items: center;
 padding: 40px 0px 40px 0px;
 width: 95%;
 margin-top: 20px;
 margin-bottom: 20px;
 height: 60px;
 background-color: var(--lighterAccent);
 border-top: 2px dotted var(--border);
 border-bottom: 2px dotted var(--border);
}

#filter button{
    font-size: 0.9rem;
    margin-right: 30px;
    padding: 10px;
    background-color: var(--darkPurple);
    border-radius: 5px;
    border:  1.5px solid transparent;
    color: var(--lightPurple);
    transition: border-color 0.4s ease;

}
#filter button:hover{
    border: 1.5px solid var(--lightPurple);
}

#mainVideoContainer{
    width: 95%;
    padding: 20px 0px 0px 0px;
    height:fit-content;min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;  
    background-color: transparent;
}


.newVideo{
 background-color: white;
 height: 400px;
}
